@media (min-width: 765px) {  
     

    header {
        background-color: rgb(172, 192, 195);
        display: grid;
        grid-template-columns: 150px auto;
    }
    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 64px;
    }

    #menu {
        display: none;
    }
    nav ul {
        flex-direction: row;
    }

    nav li {
        display: flex;
    }

    nav a {
        font-size: 22px;
        padding: 35px;
    }
    .hero picture {
    width: 100%;
    margin-bottom: 40px;
    }
    main img {
    width: 47%;
    text-align: center;
    border: 10px solid #d9c2a3;
    margin-left: 10px;
   }  
    main .container {
    margin-top: 100px;
    margin-left: 500px;
    }  
     footer p {
        font-size: 22px;
    }

    #lastModified {
        font-size: 22px;
    }
    
}